{% load staticfiles %}
{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Classical Ragas</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it startss loading before the page html is being displayed -->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/classicalRagas.css' %}" />
	
</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		
		<div id="nav">
			<ul>
				<li><a href="#/home.html">Home</a></li>
				<li><a href="home/templates/home/about.html">About</a></li>
				<li><a href="#/contact.html">Contact</a></li>
			</ul>	
		</div>

		<div id="logo">
			<h1><a href="/" id="logoLink">Raga Finder</a></h1>
		</div>
		

		<ul class="nav">
		    <li>
		        <a href="#">Home</a>
		    </li>
		    <li id="search">
		        <form action="" method="get">
		            <input type="text" name="search_text" id="search_text" placeholder="Search"/>
		            <input type="button" name="search_button" id="search_button"></a>
		        </form>
		    </li>
		    <li id="options">
		        <a href="#">Options</a>
		        <ul class="subnav">
		            <li><a href="#">Music</a></li>
		            <li><a href="#">Composer</a></li>
		            <li><a href="#">Ragas</a></li>
		            <li><a href="#">Talas</a></li>
		        </ul>
		    </li>
		</ul>

		<div id="footer">
			<p>
				&copy ClassicalRagas Limited
			</p>
		</div>
	</div>
</body>
</html>